{% extends 'adminindex.html' %} {% load static %} {% block body %}
<style>
  .card a{
    color: #fff;
    underline: none;
  }

  .card a:hover{
    color: yellow;
    text-decoration: none;
  }
</style>

<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12 grid-margin">
      <div class="row">
        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
          <h3 class="font-weight-bold">Welcome {{request.user.username}}</h3>
          <h6 class="font-weight-normal mb-0">
            All systems are running smoothly! You have
            <span class="text-primary"></span>
          </h6>
        </div>
        <div class="col-12 col-xl-4">
          <div class="justify-content-end d-flex">
            <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
              <button
                class="btn btn-sm btn-light bg-white dropdown-toggle"
                type="button"
                id="dropdownMenuDate2"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="true"
              >
                <i class="mdi mdi-calendar"></i> Today: {% now "jS F Y" %}
              </button>
              <div
                class="dropdown-menu dropdown-menu-right"
                aria-labelledby="dropdownMenuDate2"
              >
                <a class="dropdown-item" href="#">January - March</a>
                <a class="dropdown-item" href="#">March - June</a>
                <a class="dropdown-item" href="#">June - August</a>
                <a class="dropdown-item" href="#">August - November</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 grid-margin transparent">
      <div class="row">
        <div class="col-md-6 mb-4 stretch-card transparent">
          <div class="card card-tale">
            <a href="/registered-user/">
            <div class="card-body">
              <p class="mb-4">Total Registered User</p>
              <p class="fs-30 mb-2">{{tcust.count}}</p>
            </div>
          </a>
          </div>
        </div>
        <div class="col-md-6 mb-4 stretch-card transparent">
          <div class="card card-dark-blue">
            <a href="/vwproduct/">
            <div class="card-body">
              <p class="mb-4">Total Food</p>
              <p class="fs-30 mb-2">{{tprod.count}}</p>
            </div>
          </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
          <div class="card card-light-blue">
            <a href="/vwproduct-cateogy/">
            <div class="card-body">
              <p class="mb-4">Total Food Category</p>
              <p class="fs-30 mb-2">{{tprodcat.count}}</p>
            </div>
          </a>
          </div>
        </div>
        <div class="col-md-6 stretch-card transparent">
          <div class="card card-light-danger">
            <a href="/all-review/">
            <div class="card-body">
              <p class="mb-4">Total Reviews</p>
              <p class="fs-30 mb-2">{{trev.count}}</p>
            </div>
          </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 grid-margin transparent">
      <div class="row">
        <div class="col-md-6 mb-4 stretch-card transparent">
          <div class="card card-tale">
            <a href="/orderlist/?status=today"">
            <div class="card-body">
              <p class="mb-4">Today’s Bookings</p>
              <p class="fs-30 mb-2">{{tdbook.count}}</p>
            </div>
          </a>
          </div>
        </div>
        <div class="col-md-6 mb-4 stretch-card transparent">
          <div class="card card-dark-blue">
            <a href="/orderlist/?order=All">
            <div class="card-body">
              <p class="mb-4">Total Order</p>
              <p class="fs-30 mb-2">{{tbook.count}}</p>
            </div>
          </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
          <div class="card card-light-blue">
            <a href="/orderlist/?status=5">
            <div class="card-body">
              <p class="mb-4">Total Completed Order</p>
              <p class="fs-30 mb-2">{{tdel.count}}</p>
            </div>
            </a>
          </div>
        </div>
        <div class="col-md-6 stretch-card transparent">
          
          <div class="card card-light-danger">
            <a href="/registered-user/?status=1">
            <div class="card-body">
              <p class="mb-4">Total Active Customer</p>
              <p class="fs-30 mb-2">{{tact.count}}</p>
            </div>
            </a>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 p-2">
      <h6>Monthly Sales for Bar Graph</h6>
      <canvas id="barChart"></canvas>
    </div>
    <div class="col-6 p-2">
      <h6>Monthly Sales Pie Chart</h6>
      <canvas id="pieChart"></canvas>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  // Function to retrieve the chart data from the server
  function fetchChartData(url, chartId, chartType) {
      fetch(url)
          .then(response => response.json())
          .then(data => {
              // Create the chart using Chart.js
              var ctx = document.getElementById(chartId).getContext('2d');
              new Chart(ctx, {
                  type: chartType,
                  data: data
              });
          });
  }

  // Fetch and render the bar chart
  fetchChartData('/monthly_sales_bar_graph/', 'barChart', 'bar');

  // Fetch and render the pie chart
  fetchChartData('/monthly_sales_pie_chart/', 'pieChart', 'pie');
</script>
{% endblock %}
