{% extends 'adminindex.html' %} {% load static %} {% block body %}

<div class="content-wrapper">
  <div class="row">
    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            Change Password
          </h4>
          <p class="card-description">Change Password</p>
          <form class="forms-sample" method="post" action="">
            {% csrf_token %}
            <div class="form-group">
              <label for="exampleInputName1">Old Password</label>
              <input
                type="password"
                class="form-control"
                id="exampleInputName1"
                placeholder="Old Password"
                name="old"
              />
            </div>
            <div class="form-group">
                <label for="exampleInputName1">New Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="exampleInputName1"
                  placeholder="New Password"
                  name="new"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputName1">Confirm Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="exampleInputName1"
                  placeholder="Confirm Password"
                  name="confirm"
                />
              </div>

            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <button type="reset" class="btn btn-light">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
