{% include 'adminindex.html' %} {% load static custom_tags %} 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 
<style>
  #active {
    border-radius: 50%;
  }

  #inactive {
    border-radius: 50%;
  }
  #active:hover {
    cursor: default !important;
  }
  #inactive:hover {
    cursor: default !important;
  }
  img {
    width: 60px;
    height: 60px;
  }
  .table-responsive{
    font-size:11px;
  }
  .material-symbols-outlined
{
  font-size:14px;
}
td{
  padding:0px;
}
</style>

<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            {% for i in messages %}
            <div
              class="alert alert-success"
              id="alert"
              role="alert"
              style="cursor: pointer; opacity: 0.85"
            >
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
              <strong>Success!</strong> {{i}}!
              <div
                class="progress active"
                role="progressbar"
                style="height: 5px"
              >
                <div
                  class="progress-bar bg-success"
                  id="pb"
                  style="width: 100%; opacity: 0.5"
                ></div>
              </div>
            </div>
            {% endfor %}
            <h4 class="card-title">
              All Reviews
            </h4>

            <p class="card-description">Dashboard <code>review-list</code></p>
            <hr />
            <div class="table-responsive">
                <table id="example1" class="display nowrap" style="width: 100%">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>User</th>
                        <th>Product</th>
                        <th>Comment</th>
                        <th>Ranking</th>
                        <th>Date</th>
                        <th style="text-align: center">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in review %}
                      <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.user.user.username}}</td>
                        <td>{{i.product.name}}</td>
                        <td>{{i.comment}}</td>
                        <td>{{i.ranking}}</td>
                        <td>{{i.created}}</td>
                        <td>
                          <a href="/delete-or-cancel-review/{{i.id}}/" title="Delete Review" onclick="return confirm('Are your sure?')" class="btn btn-danger"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
</div>

{% include 'tablecdn.html' %} {% include 'footeradmin.html' %}