{% extends 'index.html' %} {% load static %} {% block body %}
<div
  class="container my-3"
  align="center"
  style="border: 1px solid black; padding: 10px; width: 50%"
>
  <h4>Change Password</h4>
  <div class="contac-bottom">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <form action="" method="post">
          {% csrf_token %}
          <div class="col-md-12">
            <label for="">Old Password</label>
            <input
              type="password"
              name="old"
              class="form-control"
              placeholder="Old Password*"
            />
          </div>
          <br />
          <div class="col-md-12">
            <label for="">New Password</label>
            <input
              type="password"
              name="new"
              class="form-control"
              placeholder="New Password*"
            />
          </div>
          <br />

          <div class="col-md-12">
            <label for="">Confirm Password</label>
            <input
              type="password"
              name="confirm"
              class="form-control"
              placeholder="Confirm Password*"
            />
          </div>
          <br />
          <button type="submit" class="lab-btn col-12">
            <span>Submit</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% include 'footer.html' %}
{% endblock %}
