{% load static %}{% load custom_tags %} 
<footer>
    <div class="footer-top relative padding-tb bg-ash relative">
      <div class="shape-images">
        <img
          src="{% static 'assets/images/shape-img/01.png' %}"
          alt="shape-images"
        />
      </div>
      <div class="container">
        <div class="section-wrapper row">
          <div class="col-xl-3 col-md-6">
            <div class="post-item">
              <div class="footer-logo">
                <img
                  src="{% static 'assets/images/logo/catering.jpg' %}"
                  alt="footer-logo"
                />
              </div>
              <p>
                Conveniently customizec web services aggregate frictionle
                internet withouevs Conveniently customizec.
              </p>
              <p>
                Enthusiastically scale synergistic technologies for leveraged
                with technology quickly.
              </p>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="post-item">
              <div class="post-title">
                <h5>Keep In Touch</h5>
              </div>
              <ul class="lab-ul footer-location">
                <li>
                  <div class="icon-part">
                    <i class="icofont-phone"></i>
                  </div>
                  <div class="content-part">
                    <p>+88130-589-745-6987</p>
                    <p>+1655-456-523</p>
                  </div>
                </li>
                <li>
                  <div class="icon-part">
                    <i class="icofont-wall-clock"></i>
                  </div>
                  <div class="content-part">
                    <p>Mon - Fri 09:00 - 18:00</p>
                    <p>(except public holidays)</p>
                  </div>
                </li>
                <li>
                  <div class="icon-part">
                    <i class="icofont-location-pin"></i>
                  </div>
                  <div class="content-part">
                    <p>25/2 Lane2 Vokte Street Building <br />Melborn City</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="post-item">
              <div class="post-title">
                <h5>Catering Product</h5>
              </div>
              <div class="lab-ul footer-post">
                {% for i in ''|foot %}
                {% if forloop.counter < 3 %}
                <div class="media mb-3">
                  <div class="fp-thumb mr-3">
                    <img
                      src="{{i.image.url}}"
                      alt="recent-post"
                      style="width:60px;height:60px"
                    />
                  </div>
                  <div class="media-body">
                    <a href="#">
                      <h6 class="mt-0">{{i.name}}</h6>
                    </a>
                    <span class="price">${{i.price}}</span>
                  </div>
                </div>
                 {% endif %}
                {% endfor %}
                
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="post-item">
              <div class="post-title">
                <h5>Instagram Feed</h5>
              </div>
              <div class="lab-ul footer-gellary">
                {% for i in ''|foot %}
                <figure class="figure">
                  <a
                    href="{{i.image.url}}"
                    data-rel="lightcase:myCollection:slideshow"
                    ><img
                      src="{{i.image.url}}"
                      class="img-fluid rounded"
                      alt="footer-gellary"
                      style="width:60px;height:60px"
                  /></a>
                </figure>
                {% endfor %}
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="section-wrapper">
          <p class="text-center">
            &copy; {% now 'Y' %}  <a href="index.html">CateringPro</a> All Rights
            Reserved By
            <a href="https://themeforest.net/user/labartisan" target="_blank"
              >TEKNOSys</a
            >
            {% comment %} <script>document.write( new Date().getUTCFullYear() );</script> {% endcomment %}
          </p>
        </div>
      </div>
    </div>
</footer>
  <!-- footer section start here -->

  <!-- scrollToTop start here -->
  <a href="#" class="scrollToTop"
    ><i class="icofont-swoosh-up"></i><span class="pluse_1"></span
    ><span class="pluse_2"></span
  ></a>

    
  <!-- scrollToTop ending here -->

  