{% load static %}{% load custom_tags %} 
<footer>
    <div class="footer-top relative padding-tb bg-ash relative">
      <div class="shape-images">
<!--        <img-->
<!--          src="{% static 'images/canteen-automation.png' %}"-->
<!--          alt="shape-images"-->
<!--        />-->
      </div>
      <div class="container">
        <div class="section-wrapper row">
          <div class="col-xl-3 col-md-6">
            <div class="post-item">
              <div class="footer-logo">
                <img
                  src="{% static 'images/CanteenXpress.png' %}"
                  alt="footer-logo"
                />
              </div>
              <p style="color:black">
                Conveniently customize web services .
              </p>
              <p style="color:black">
                Enthusiastically scale synergistic technologies for leveraged
                with technology quickly.
              </p>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="post-item">
              <div class="post-title">
                <h5 style="color:black">Keep In Touch</h5>
              </div>
              <ul class="lab-ul footer-location">
                <li>
                  <div class="icon-part">
                    <i class="icofont-phone"></i>
                  </div>
                  <div class="content-part">
                    <p>+91-1234567890</p>
                    <p>+91-9876543210</p>
                  </div>
                </li>
                <li>
                  <div class="icon-part">
                    <i class="icofont-wall-clock"></i>
                  </div>
                  <div class="content-part">
                    <p>Mon - Fri 09:00 - 18:00</p>
                    <p>(except public holidays)</p>
                  </div>
                </li>
                <li>
                  <div class="icon-part">
                    <i class="icofont-location-pin"></i>
                  </div>
                  <div class="content-part">
                    <p>Anandgram , Talegaon Dhamdhere <br />Shirur , Pune</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          {% comment %}  
          <div class="col-xl-3 col-md-6">
            <div class="post-item">
              <div class="post-title">
                <h5 style="color:black">Canteen Foods</h5>
              </div>
              <div class="lab-ul footer-post">
                {% for i in ''|foot %}
                {% if forloop.counter < 3 %}
                <div class="media mb-3">
                  <div class="fp-thumb mr-3">
                    <img
                      src="{{i.image.url}}"
                      alt="recent-post"
                      style="width:60px;height:60px"
                    />
                  </div>
                  <div class="media-body">
                    <a href="#">
                      <h6 class="mt-0" style="color:black">{{i.name}}</h6>
                    </a>
                    <span class="price" style="color:black">${{i.price}}</span>
                  </div>
                </div>
                 {% endif %}
                {% endfor %}
                
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="post-item">
              <div class="post-title">
                <h5 style="color:black">Instagram Feed</h5>
              </div>
              <div class="lab-ul footer-gellary">
                {% for i in ''|foot %}
                <figure class="figure">
                  <a
                    href="{{i.image.url}}"
                    data-rel="lightcase:myCollection:slideshow"
                    ><img
                      src="{{i.image.url}}"
                      class="img-fluid rounded"
                      alt="footer-gellary"
                      style="width:60px;height:60px"
                  /></a>
                </figure>
                {% endfor %}
                
              </div>
            </div>
          </div>
          {% endcomment %}
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="section-wrapper">
          <p class="text-center" style="color:black">
            &copy; {% now 'Y' %} <a href="/" style="color:black">CANTEENXPRESS</a> All Rights
            Reserved By
            <a href="#" target="_blank" style="color:black">CANTEENXPRESS</a>
            {% comment %} <script>document.write( new Date().getUTCFullYear() );</script> {% endcomment %}
          </p>
        </div>
      </div>
    </div>
</footer>
  <!-- footer section start here -->

  <!-- scrollToTop start here -->
  <a href="#" class="scrollToTop"
    ><i class="icofont-swoosh-up"></i><span class="pluse_1"></span
    ><span class="pluse_2"></span
  ></a>

    
  <!-- scrollToTop ending here -->

  