{% load static %}{% load custom_tags %} 
<footer>
    <div class="footer-top relative p-5 rounded  bg-secondary relative">

      <div class="container ">
        <div class="section-wrapper row d-flex justify-content-between">
          <div class="col-xl-3 col-md-6">
            <div class="post-item">
              <div class="footer-logo rounded">
                <img
                  src="{% static 'images/CanteenXpress.png' %}"
                  alt="footer-logo"
                  class="rounded"
                />
              </div>
              <p style="color:black">
                Conveniently customize web services.
              </p>
              <p style="color:black">
                Enthusiastically scale synergistic technologies for leveraged
                with technology quickly.
              </p>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="post-item">
              <div class="post-title">
                <h5 style="color:black">Keep In Touch</h5>
              </div>
              <ul class="lab-ul footer-location">
                <li>
                  <div class="icon-part">
                    <i class="icofont-phone"></i>
                  </div>
                  <div class="content-part">
                    <p>+91-1234567890</p>
                    <p>+91-9876543210</p>
                  </div>
                </li>
                <li>
                  <div class="icon-part">
                    <i class="icofont-wall-clock"></i>
                  </div>
                  <div class="content-part">
                    <p>Mon - Fri 09:00 - 18:00</p>
                    <p>(except public holidays)</p>
                  </div>
                </li>
                <li>
                  <div class="icon-part">
                    <i class="icofont-location-pin"></i>
                  </div>
                  <div class="content-part">
                    <p>Anandgram , Talegaon Dhamdhere <br />Shirur , Pune</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="section-wrapper mt-5 mb-0">
          <p class="text-center" style="color:black">
            &copy; {% now 'Y' %} <a href="/" style="color:black">CANTEENXPRESS</a> All Rights
            Reserved By
            <a href="#" target="_blank" style="color:black">CANTEENXPRESS</a>
            
          </p>
        </div>
      </div>
    </div>
</footer>
  <!-- footer section start here -->

  <!-- scrollToTop start here -->
  <a href="#" class="scrollToTop bg-danger"><i class="icofont-swoosh-up bg-danger"></i>
    
  </a>

    
  <!-- scrollToTop ending here -->

  