{% extends 'index.html' %} 
{% load static %} 
{% block body %}
<div class="container my-3" style="border: 1px solid black; padding: 10px; width: 50%">
  <h5 class="ml-3 mt-1">Forgot Password</h5><hr>
  <div class="contac-bottom">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <form action="" method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-10 pr-0">
              <label for="">Email</label>
              <input type="email" name="email" id="email" class="form-control" placeholder="Email*"/>
            </div>
            <div class="col-md-2 pl-0">
              <button class="btn btn-success" style="margin-top:32px" type="button" onclick="send_otp()">send</button>
            </div>
          </div>
            <br />
            <div class="col-md-12" id="otp-div" style="display:none">
              <label for="">OTP</label>
              <input
                type="text"
                name="otp"
                id="otp"
                class="form-control"
                placeholder="Password*"
              />
            </div>
            <br />
              <button type="button" id="otp-button"  class="lab-btn col-3" style="display:none" onclick="match_otp()">
                <span>Submit</span>
              </button>
            {
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  function send_otp() {
    var mail = document.getElementById('email').value;
    $.get('/send-otp/?mail='+mail,function(response) {
      if(response['status']){
        $('#otp-div').attr('style', 'display:block');
        $('#otp-button').attr('style', 'display:block');
        alert('OTP sent successfully.')
      }
      else{
        alert('Invalid Email.')
      }
    });
  }

  function match_otp() {
    var mail = document.getElementById('email').value;
    var otp = document.getElementById('otp').value;
    $.get('/match-otp/?mail='+mail+'&otp='+otp,function(response) {
      if(response['status']){
        alert('Password match successfully.');
        window.location = '/change-password/?action=forgot-password&email='+mail;
      }
      else{
        alert('Invalid OTP.')
      }
    });
  }
</script>
{% include 'footer.html' %}
{% endblock %}
