{% extends 'index.html' %}
{% load static %}
{% block body %}

<!-- Banner Section Start Here -->
<section class="banner">
  <div class="banner-slider ">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="banner-slider-part" style="background-image: url({% static 'images/catering1.jpg' %});height:500px;">
          <div class="overlay"></div>
          <div class="container">
            <div class="row flex-row-reverse justify-content-center align-items-center">
              <div class="col-12">
                <div class="banner-content">
                  <h4 class="banner-title text-white">
                    <b class="d-lg-block">Freshly Prepared Food </b>
                    Specialty Game Vegitables and Sweets!!!
                    </h3>
                    <a href="/product/" class="lab-btn bg-danger"><span>DISCOVER NOW</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="banner-slider-part" style="background-image: url({% static 'images/catering2.jpg' %}); height:500px;">
          <div class="overlay"></div>
          <div class="container">
            <div class="row flex-row-reverse justify-content-center align-items-center">
              <div class="col-12">
                <div class="banner-content">
                  <h4 class="banner-title text-white">
                    <b class="d-lg-block">Freshly Prepared Food </b>
                    Specialty Game Vegitables and Sweets!!!
                  </h4>
                  <a href="/product/" class="lab-btn bg-danger"><span>DISCOVER NOW</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="banner-slider-part" style="
            background-image: url({% static 'images/catering3.jpg' %});height:500px;
          ">
          <div class="overlay"></div>
          <div class="container">
            <div class="row flex-row-reverse justify-content-center align-items-center">
              <div class="col-12">
                <div class="banner-content">
                  <h4 class="banner-title text-white">
                    <b class="d-lg-block">Freshly Prepared Food </b>
                    Specialty Game Vegitables and Sweets!!!
                  </h4>
                  <a href="/product/" class="lab-btn bg-danger"><span>DISCOVER NOW</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination "></div>
  </div>
</section>
<!-- Banner Section Ending Here -->

<!-- about section start here -->
<section class="about-section relative padding-tb">
  <div class="container">
    <div class="row align-items-center mb-15">
      <div class="col-lg-6 col-12">
        <div class="about-thumb">
          <img src="{% static 'images/catering4.jpg' %}" alt="about-thumb" />
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="about-wrapper p-0">
          <div class="about-title" style="color:black">
            <h2>
              <span class="d-lg-block"> Welcome to Our Canteen</span>
            </h2>
            <p style="color:black">
              Welcome to Our Canteen Automation System! 🍽🚀</br>We’re thrilled to have you on board!
              Our AI-powered canteen automation system is here to make
              your dining experience faster, smarter, and hassle-free.
              From quick ordering to seamless payments and personalized meal recommendations,
              we've got everything covered.</br>Enjoy a smooth and efficient canteen
              experience—no more long queues, no more waiting!
              </br> 😃🍕🥗
            <p>Happy Dining, </br>
              The CanteenXpress </p>

            </p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>
<!-- about section ending here -->

<!-- product category section start here -->
<section class="product-section relative padding-tb bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-header">
          <h3>Canteen Foods Category</h3>
          <p>
            Conveniently customize proactive web services for leveraged interfaces without Globally
          </p>
        </div>
      </div>
      <div class="col-12 ">
        <div class="section-wrapper">
          <div class="row justify-content-center ">
            {% for i in product %}
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12 ">
              <div class="card mb-4 text-center bg-ash border-none relative">
                <div class="addcart-overlay">
                  <div class="addcart-content">
                    <div class="addcart-icon ">
                      <a href="{{i.image.url}}" data-rel="lightcase"><i
                        class="icofont-eye"></i></a>
                <a href="/product-detail/{{i.id}}/"><i class="icofont-info"></i></a>
                <a href="/add_cart/{{i.id}}/"><i class="icofont-cart-alt"></i></a>
                    </div>
                    <a href="/add_cart/{{i.id}}/" class="lab-btn bg-danger d-inline-b">Add to cart</a>
                  </div>
                </div>
                <img src="{{i.image.url}}" class="card-img-top mb-2" style="height:250px ;width:100%" />
                <div class="card-body">
                  
                  <a href="#">
                    <h6 class="card-title">{{i.name}}</h6>
                  </a>

                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="text-center mt-3">
            <a href="#" class="lab-btn bg-danger"><span>Shop Now</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- product category section ending here -->

<!-- service section start here -->
<section class="service-section padding-tb">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-header">
          <h3>Canteen Services</h3>
          <p style="color:black">
            Enjoy a variety of delicious, healthy, and purely vegetarian meals prepared with fresh ingredients.
          </p>
        </div>
      </div>
      <div class="col-12">
        <div class="service-content" style="color:black">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="lab-item service-item">
                <div class="lab-inner p-4 mb-4 text-left">
                  <div class="service-top d-flex align-items-center mb-4">
                    <div class="st-thumb mr-3">
                      <img src="{% static 'assets/images/service/star.jpg' %}" alt="service image" />
                    </div>
                    <div class="st-content mt-2">
                      <a href="#">
                        <h6 style="color:black">Nutritious Veg Meals</h6>
                        <h6 style="color:black">Wide Food Range</h6>
                      </a>
                    </div>
                  </div>
                  <div class="service-bottom">
                    <p style="color:black">
                      Enjoy wholesome and delicious vegetarian meals made with fresh, organic ingredients.
                      From healthy meals to quick snacks, enjoy a diverse menu tailored to your taste.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="lab-item service-item">
                <div class="lab-inner p-4 mb-4 text-left">
                  <div class="service-top d-flex align-items-center mb-4">
                    <div class="st-thumb mr-3">
                      <img src="{% static 'assets/images/service/star.jpg' %}" alt="service image" />
                    </div>
                    <div class="st-content mt-2">
                      <a href="#">
                        <h6 style="color:black">Healthy Snacks</h6>
                        <h6 style="color:black">Enhanced Customer Satisfaction </h6>
                      </a>
                    </div>
                  </div>
                  <div class="service-bottom">
                    <p style="color:black">
                      Choose from a variety of light and nutritious vegetarian snacks perfect for any time of the day.
                      Reduced wait times, and seamless transactions for a hassle-free experience.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="lab-item service-item">
                <div class="lab-inner p-4 mb-4 text-left">
                  <div class="service-top d-flex align-items-center mb-4">
                    <div class="st-thumb mr-3">
                      <img src="{% static 'assets/images/service/star.jpg' %}" alt="service image" />
                    </div>
                    <div class="st-content mt-2">
                      <a href="#">
                        <h6 style="color:black">Refreshing Beverages</h6>
                        <h6 style="color:black"> Top-Notch Quality</h6>
                      </a>
                    </div>
                  </div>
                  <div class="service-bottom">
                    <p style="color:black">
                      Enjoy a range of fresh juices, smoothies, and herbal teas made from natural ingredients.
                      Fresh, hygienic, and well-prepared meals, ensuring safety and great taste.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="lab-item service-item">
                <div class="lab-inner p-4 mb-4 text-left">
                  <div class="service-top d-flex align-items-center mb-4">
                    <div class="st-thumb mr-3">
                      <img src="{% static 'assets/images/service/star.jpg' %}" alt="service image" />
                    </div>
                    <div class="st-content mt-2">
                      <a href="#">
                        <h6 style="color:black">Jain & Satvik Food</h6>
                        <h6 style="color:black">Easy Digital Payments</h6>
                      </a>
                    </div>
                  </div>
                  <div class="service-bottom">
                    <p style="color:black">
                      We offer Jain and Satvik food options without onion and garlic, prepared with purity and care.
                      Multiple payment options for quick and secure transactions
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="lab-item service-item">
                <div class="lab-inner p-4 mb-4 text-left">
                  <div class="service-top d-flex align-items-center mb-4">
                    <div class="st-thumb mr-3">
                      <img src="{% static 'assets/images/service/star.jpg' %}" alt="service image" />
                    </div>
                    <div class="st-content mt-2">
                      <a href="#">
                        <h6 style="color:black">Homemade Desserts</h6>
                        <h6 style="color:black">Fast & Efficient Service</h6>
                      </a>
                    </div>
                  </div>
                  <div class="service-bottom">
                    <p style="color:black">
                      Treat yourself to our delicious range of homemade vegetarian sweets and desserts.
                      Automated order processing and real-time updates to save your time.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="lab-item service-item">
                <div class="lab-inner p-4 mb-4 text-left">
                  <div class="service-top d-flex align-items-center mb-4">
                    <div class="st-thumb mr-3">
                      <img src="{% static 'assets/images/service/star.jpg' %}" alt="service image" />
                    </div>
                    <div class="st-content mt-2">
                      <a href="#">
                        <h6 style="color:black">Organic & Farm-Fresh</h6>
                        <h6 style="color:black"> Future-Ready Dining</h6>
                      </a>
                    </div>
                  </div>
                  <div class="service-bottom">
                    <p style="color:black">
                      We use farm-fresh, organic vegetables and ingredients to promote a healthy lifestyle.
                      AI-powered recommendations and a user-friendly interface for a smarter canteen experience.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- service section ends here -->

<!-- Gallery section start here -->
<section class="gallery-section padding-tb bg-secondary">
  <div class="container-fluid p-0 m-0">
    <div class="row">
      <div class="col-12">
        <div class="section-header">
          <h3>Canteen Food Gallery</h3>
          <p style="color:black">
            Conveniently customize proactive web services for leveraged
            interfaces without Globally
          </p>
        </div>
      </div>
      <div class="col-12">
        <div class="gallery-content">
          <div class="gallery-grid text-center">
            <a href="{% static 'images/catering1.jpg' %}" data-rel="lightcase:myCollection:slideshow"
              class="grid-image">
              <img src="{% static 'images/catering1.jpg' %}" alt="gallery-image" style="height:200px" />
            </a>
            <a href="{% static 'images/catering2.jpg' %}" data-rel="lightcase:myCollection:slideshow"
              class="grid-image">
              <img src="{% static 'images/catering2.jpg' %}" alt="gallery-image" style="height:200px" />
            </a>
            <a href="{% static 'images/catering3.jpg' %}" data-rel="lightcase:myCollection:slideshow"
              class="grid-image">
              <img src="{% static 'images/catering3.jpg' %}" alt="gallery-image" style="height:200px" />
            </a>
            <a href="{% static 'images/catering4.jpg' %}" data-rel="lightcase:myCollection:slideshow"
              class="grid-image">
              <img src="{% static 'images/catering4.jpg' %}" alt="gallery-image" style="height:200px" />
            </a>
            <a href="{% static 'images/catering5.jpg' %}" data-rel="lightcase:myCollection:slideshow"
              class="grid-image">
              <img src="{% static 'images/catering5.jpg' %}" alt="gallery-image" style="height:200px" />
            </a>
            <a href="{% static 'images/catering6.jpeg' %}" data-rel="lightcase:myCollection:slideshow"
              class="grid-image">
              <img src="{% static 'images/catering6.jpeg' %}" alt="gallery-image" style="height:200px" />
            </a>
            <a href="{% static 'images/catering7.jpg' %}" data-rel="lightcase:myCollection:slideshow"
              class="grid-image">
              <img src="{% static 'images/catering7.jpg' %}" alt="gallery-image" style="height:200px" />
            </a>
            <a href="{% static 'images/catering8.jpg' %}" data-rel="lightcase:myCollection:slideshow"
              class="grid-image">
              <img src="{% static 'images/catering8.jpg' %}" alt="gallery-image" style="height:200px" />
            </a>
          </div>
          <div class="gallery-btn text-center mt-5">
            <a href="#" class="lab-btn bg-danger"><span>Load Gallery</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Gallery section ends here -->

<!-- team section start here -->
<section class="team-section padding-tb">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-header">
          <h3>Our Team Member</h3>
          <p style="color:black">
            Conveniently customize proactive web services for leveraged
            interfaces without Globally
          </p>
        </div>
      </div>
      <div class="col-12">
        <div class="section-wrapper">
          <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
              <div class="card mb-4 text-center border-none">
                <img src="{% static 'images/team3.jpg' %}" class="card-img-top" alt="product" style="height:300px" />
                <div class="card-body">
                  <a href="#">
                    <h6 class="card-title mb-0">Sagar Jedhe</h6>
                  </a>
                  
                  <div class="social-share">
                    <a href="#" class="m-1 twitter"><i class="icofont-twitter"></i></a>
                    <a href="#" class="m-1 behance"><i class="icofont-behance"></i></a>
                    <a href="#" class="m-1 instagram"><i class="icofont-instagram"></i></a>
                    <a href="#" class="m-1 vimeo"><i class="icofont-vimeo"></i></a>
                    <a href="#" class="m-1 linkedin"><i class="icofont-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
              <div class="card mb-4 text-center border-none">
                <img src="{% static 'images/team2.gif' %}" class="card-img-top" alt="product" style="height:300px" />
                <div class="card-body">
                  <a href="#">
                    <h6 class="card-title mb-0">Siddhi Daphal</h6>
                  </a>
                  
                  <div class="social-share">
                    <a href="#" class="m-1 twitter"><i class="icofont-twitter"></i></a>
                    <a href="#" class="m-1 behance"><i class="icofont-behance"></i></a>
                    <a href="#" class="m-1 instagram"><i class="icofont-instagram"></i></a>
                    <a href="#" class="m-1 vimeo"><i class="icofont-vimeo"></i></a>
                    <a href="#" class="m-1 linkedin"><i class="icofont-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
              <div class="card mb-4 text-center border-none">
                <img src="{% static 'images/team3.jpg' %}" class="card-img-top" alt="product" style="height:300px" />
                <div class="card-body">
                  <a href="#">
                    <h6 class="card-title mb-0">Chaitanya Mehetre</h6>
                  </a>
                  
                  <div class="social-share">
                    <a href="#" class="m-1 twitter"><i class="icofont-twitter"></i></a>
                    <a href="#" class="m-1 behance"><i class="icofont-behance"></i></a>
                    <a href="#" class="m-1 instagram"><i class="icofont-instagram"></i></a>
                    <a href="#" class="m-1 vimeo"><i class="icofont-vimeo"></i></a>
                    <a href="#" class="m-1 linkedin"><i class="icofont-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
              <div class="card mb-4 text-center border-none">
                <img src="{% static 'images/team2.gif' %}" class="card-img-top" alt="product" style="height:300px" />
                <div class="card-body">
                  <a href="#">
                    <h6 class="card-title mb-0">Utkarsha Pawar</h6>
                  </a>
                  
                  <div class="social-share">
                    <a href="#" class="m-1 twitter"><i class="icofont-twitter"></i></a>
                    <a href="#" class="m-1 behance"><i class="icofont-behance"></i></a>
                    <a href="#" class="m-1 instagram"><i class="icofont-instagram"></i></a>
                    <a href="#" class="m-1 vimeo"><i class="icofont-vimeo"></i></a>
                    <a href="#" class="m-1 linkedin"><i class="icofont-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- team section ending here -->




<!-- Feature section start here -->
<section class="feature-section padding-tb">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-lg-3 col-sm-6 col-12">
        <div class="lab-item">
          <div class="lab-inner">
            <div class="lab-thumb">
              <img src="{% static 'assets/images/feature/01.png' %}" alt="Feature Image" />
            </div>
            <div class="lab-content">
              <h6 style="color:black">Wide Food Range</h6>
              <p style="color:black">
                From healthy meals to quick snacks, enjoy a diverse menu tailored to your taste.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <div class="lab-item">
          <div class="lab-inner">
            <div class="lab-thumb">
              <img src="{% static 'assets/images/feature/02.png' %}" alt="Feature image" />
            </div>
            <div class="lab-content">
              <h6 style="color:black">Quality Matters</h6>
              <p style="color:black">
                Fresh, hygienic, and well-prepared meals, ensuring safety and great taste.
              </p>
            </div>
          </div>
        </div>
      </div>
      
      
      <div class="col-lg-3 col-sm-6 col-12">
        <div class="lab-item">
          <div class="lab-inner">
            <div class="lab-thumb">
              <img src="{% static 'assets/images/feature/04.png' %}" alt="Feature image" />
            </div>
            <div class="lab-content">
              <h6 style="color:black">Enhanced Customer Satisfaction</h6>
              <p style="color:black">
                Reduced wait times, and seamless transactions for a hassle-free experience.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Feature section ending here -->
{% include 'footer.html' %}
{% endblock %}