{% extends 'index.html' %} {% load static %} {% block body %}
<div
  class="container my-3"
  
  style="border: 1px solid black; padding: 10px; width: 50%"
>
  <h5 class="ml-3 mt-1">Login Page</h5><hr>
  <div class="contac-bottom">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <form action="" method="post">
          {% csrf_token %}
          <div class="col-md-12">
            <label for="">Email</label>
            <input
              type="email"
              name="uname"
              class="form-control"
              placeholder="Email*"
              required
            />
          </div>
          <br />
          <div class="col-md-12">
            <label for="">Password</label>
            <input
              type="password"
              name="pwd"
              class="form-control"
              placeholder="Password*"
              required
            />
          </div>
          <br />
          {% comment %} <div class="col-md-3"> {% endcomment %}
            <button type="submit" class="lab-btn col-3">
              <span>Signin</span>
            </button>
          {% comment %} </div> {% endcomment %}
          {% comment %} <button class="col-5" align="right"></button> {% endcomment %}
          {% comment %} <div class="col-md-3" align="right"></div> {% endcomment %}
          {% comment %} <div class="col-md-4" align="right"> {% endcomment %}
            <button type="button" class="lab-btn bg-primary col-4" onclick="forgotPassword()">
              {% comment %} <button type="button" class="lab-btn bg-primary col-4"> {% endcomment %}
                <span>Forgot Password</span>
              {% comment %} </button> {% endcomment %}
            </a>
          {% comment %} </div> {% endcomment %}
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  function forgotPassword(){
    window.location = '/forgot-password/';
  }
</script>
{% include 'footer.html' %}
{% endblock %}
