{% include 'index.html' %} {% load static %} 
{% load custom_tags %} 
{% block body %}

<div class="shop-cart">
    <h2 class="mb-2" align="center"> <u>My Cart</u></h2>
    <div class="container">
        <div class="section-wrapper mb-15">
            <div class="cart-top">
                 <table id="example" class="display nowrap" style="width: 100%">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in productid %}
                        <tr>
                            <td class="product-item">
                                <div class="p-thumb">
                                    <a href="#"><img src="{{i|productimage}}" alt="product" style="width:100px;height:100px"></a>
                                </div>
                                <div class="p-content">
                                    <a href="#">{{i|productname}}</a>
                                </div>
                            </td>
                            <td>{{i|productprice}}</td>
                            <td>
                                <a href="/incredecre/{{i}}/?action=2" class="btn btn-warning" id="decrebtn-{{forloop.counter}}">-</a>
                                    <input type="text" class="cart-plus-minus-box" type="text" id="shop_qty-{{forloop.counter}}" name="qtybutton" value="{% productqty i request.user %}" readonly />

                                    <a href="/incredecre/{{i}}/?action=1" class="btn btn-warning">+</a>
                            </td>
                            <td id="totalprice-{{forloop.counter}}">{% producttotalprice i request.user %}</td>
                            <td>
                                <a href="/deletecart/{{i}}/" class="btn btn-warning"><img src="{% static 'assets/images/del.png' %}" alt="product"></a>
                            </td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
            <div class="cart-bottom">
                {% comment %} <div class="cart-checkout-box">
                    <form action="http://labartisan.net/" class="coupon">
                        <input type="text" name="coupon" placeholder="Coupon Code..." class="cart-page-input-text">
                        <input type="submit" value="Apply Coupon">
                    </form>
                    <form action="http://labartisan.net/" class="cart-checkout">
                        
                    </form>
                </div> {% endcomment %}
                <div class="shiping-box">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="calculate-shiping w-100">
                                <h4>Cart Summary</h4>
                                <form action="/payment/{{cart.id}}/" method="get" onsubmit="return validateForm();">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="pickup_time">Pick Up Time</label><br>
                                            <input type="time" name="pickup_time" id="pickup_time" placeholder="PickUp Time" class="form-control" required/>
                                        </div><br>
                                        <div class="col-12">
                                            <label for="payment_type">Select Payment Type</label>
                                            <select name="payment_type" id="payment_type" class="form-control" required/>
                                                <option>Online Payment</option>
                                                <option>Payment On Delivery</option>
                                            </select>
                                        </div>
                                    </div>
                                    <br>
                                    <input type="hidden" name="total" value="" id="order-total-3">
                                    <input type="hidden" name="original-total" value="" id="original-total">
                                    <input type="hidden" name="tax" value="" id="tax">
                                    <button type="submit" class="lab-btn"><span>Order Now</span></button>
                            </div>
                        </form>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="cart-overview">
                                <h4>Cart Totals</h4>
                                <ul>
                                    <li>
                                        <span class="pull-left">Cart Subtotal</span>
                                        <p class="pull-right" id="order-subtotal">$ 0.00</p>
                                    </li>
                                    <li>
                                        <span class="pull-left">GST & CGST</span>
                                        <p class="pull-right" id="gst-cgst"></p>
                                    </li>
                                    <li>
                                        <span class="pull-left">Order Total</span>
                                        <p class="pull-right" id="order-total">$ 2940.00</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var prolenth = '{{lengthpro}}';
    var mytotal = 0;
    for(var i=1;i<=prolenth*1;i++){
        shop_qty = document.getElementById('shop_qty-'+i).value;
        totalprice = parseFloat(document.getElementById('totalprice-'+i).innerHTML);
        if(shop_qty == 1){
            document.getElementById('decrebtn-'+i).href = "#";
            document.getElementById('decrebtn-'+i).classList.remove('btn-warning');
            document.getElementById('decrebtn-'+i).classList.add('btn-info');
            
        }
        var mytotal = parseFloat(mytotal) + (totalprice);
    }
    var mytotal=(mytotal).toLocaleString(
        undefined, {
            minimumFractionDigits:2
        }
    );
    document.getElementById('order-subtotal').innerHTML  = mytotal;
    document.getElementById('gst-cgst').innerHTML  = (mytotal * 5)/100;
    document.getElementById('order-total').innerHTML  = (mytotal * 105)/100; 
    document.getElementById('order-total-3').value  =  (mytotal * 105)/100; 
    document.getElementById('original-total').value  =  mytotal; 
    document.getElementById('tax').value  =  (mytotal * 5)/100; 
    {% comment %} parseFloat(mytotal); {% endcomment %}

    

    function changecountry(){
        country = document.getElementById('country').value;
        window.location = "/mycart/?country="+country;
    }
</script>

<script>
    function validateForm() {
      var timeInput = document.getElementById('pickup_time').value;
      var currentTime = new Date();
      var selectedTime = new Date(currentTime.getFullYear(), currentTime.getMonth(), currentTime.getDate(), parseInt(timeInput.split(':')[0]), parseInt(timeInput.split(':')[1]));

      // Calculate the minimum and maximum allowed times
      var minTime = new Date(currentTime.getTime() + (1 * 60 * 60 * 1000)); // Current time + 1 hour
      var maxTime = new Date(currentTime.getTime() + (5 * 60 * 60 * 1000)); // Current time + 5 hours

      if (selectedTime < minTime || selectedTime > maxTime) {
        alert('Please select a time between 1 hour and 5 hours from now.');
        return false;
      }

      return true;
    }
  </script>
{% include 'tablecdn.html' %}
{% include 'footer.html' %}
{% endblock %}


