{% include 'index.html' %} {% load static %} 
{% load custom_tags %} 
{% block body %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    .checked {
      color: green;
    }

    .facheck:hover {
        cursor: pointer;
    }
    .zoom-button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #337ab7;
        color: #fff;
        border: none;
        cursor: pointer;
        transition: transform 0.3s;
    }
      
    .zoom-button:hover {
        transform: scale(1.2);
    }

    .modal-content {
        background-color: #ff6f00;
    }

    .modal-header, .modal-footer {
        background-color: #7bd239;
    }
      
</style>
<div class="shop-cart mt-5">
    <div class="container">
        <div class="section-wrapper">
            <h2 class="mb-2" align="center"> <u>Order Detail</u>
            </h2>
            <div class="cart-top">
                 <table id="example" class="display nowrap" style="width: 100%">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Feedback</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                        {% for i in productid %}
                        <tr>
                            <td class="product-item">
                                <div class="p-thumb">
                                    <a href="#"><img src="{{i|productimage}}" alt="product" style="width:100px;height:100px"></a>
                                </div>
                                <div class="p-content">
                                    <a href="#">{{i|productname}}</a>
                                </div>
                            </td>
                            <td>{{i|productprice}}</td>
                            <td>
                                    <input type="text" class="cart-plus-minus-box" type="text" id="shop_qty-{{forloop.counter}}" name="qtybutton" value="{% orderqty i pid %}" readonly />

                                   </td>
                            <td id="totalprice-{{forloop.counter}}">{% ordertotalprice i pid %}</td>
                            <td>
                                <button type="button" class="btn btn-success p-1 zoom-button" data-toggle="modal" data-target="#myModal-{{forloop.counter}}">
                                    <img src="{% static 'assets/images/chat.png' %}" alt="product" style="width:40px;40px">
                                </button>

                                <div class="modal fade" id="myModal-{{forloop.counter}}">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <form action="/add-comment/{{i}}/{{pid}}/" method="post">
                                            {% csrf_token %}
                                            <div class="modal-header">
                                            <h4 class="modal-title">{{i|productname}}</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            
                                            <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <span class="rating-title">Your Rating : </span><br>
                                                            <span class="facheck facheck-{{forloop.counter}} fa fa-star fa-2x checked" onclick="fachecked(1, '{{forloop.counter}}')"></span>
                                                            <span class="facheck facheck-{{forloop.counter}} fa fa-star fa-2x" onclick="fachecked(2, '{{forloop.counter}}')"></span>
                                                            <span class="facheck facheck-{{forloop.counter}} fa fa-star fa-2x" onclick="fachecked(3, '{{forloop.counter}}')"></span>
                                                            <span class="facheck facheck-{{forloop.counter}} fa fa-star fa-2x" onclick="fachecked(4, '{{forloop.counter}}')"></span>
                                                            <span class="facheck facheck-{{forloop.counter}} fa fa-star fa-2x" onclick="fachecked(5, '{{forloop.counter}}')"></span>
                                                            <input type="hidden" value="" id="starval-{{forloop.counter}}" name="starval">
                                                        </div>
                                                        <div class="col-md-12 mt-2">
                                                            <textarea rows="8" placeholder="Type Here Message" class="form-control" name="comment"></textarea>
                                                        </div>
                                                    </div>
                                            </div>
                                            
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </form>
                                        
                                      </div>
                                    </div>
                                  </div>
                                  
                            </td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th style="text-align:right">
                                    Order Total
                            </th>
                            
                            <th  id="order-total" style="text-align:right">
                            </th>
                        </tr>
                    </tfoot>
                    
                </table>
                
            </div>
            
        </div>
    </div>
</div>

<script>
    var prolenth = '{{lengthpro}}';
    
    var mytotal = 0;
    for(var i=1;i<=prolenth*1;i++){
        shop_qty = document.getElementById('shop_qty-'+i).value;
        
        totalprice = parseFloat(document.getElementById('totalprice-'+i).innerHTML);
        var mytotal = parseFloat(mytotal) + (totalprice);
    }

    var mytotal=(mytotal).toLocaleString(
        undefined, {
            minimumFractionDigits:2
        }
    );
    
    document.getElementById('order-total').innerHTML  = mytotal; 
     
    {% comment %} parseFloat(mytotal); {% endcomment %}

    

    
</script>
<script>
    function fachecked(pid, counter){
        for(var i = 0; i < pid*1; i++){
            document.getElementsByClassName('facheck-'+counter)[i].classList.add('checked');
        }
        for(var i=pid*1; i<5; i++){
            document.getElementsByClassName('facheck-'+counter)[i].classList.remove('checked');
        }
        document.getElementById('starval-'+counter).value = pid;
    }
</script>
{% include 'tablecdn.html' %}
{% include 'footer.html' %}
{% endblock %}


