{% extends 'index.html' %} {% load static %} {% block body %}
<div class="container my-3">
  <h5>Registration Page</h5><hr>
  <div class="contac-bottom">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="">
          <form action="" method="POST" id="myForm" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row form-group">
              <div class="col-md-6">
                <label for="">First Name</label>
                <input
                  type="text"
                  name="fname"
                  class="form-control"
                  placeholder="First Name*"
                  autofocus="true"
                  required
                />
              </div>
              <br />
              <div class="col-md-6">
                <label for="">Last Name</label>
                <input
                  type="text"
                  name="lname"
                  class="form-control"
                  placeholder="Last Name*"
                  required
                />
              </div>
              <br />
              <div class="col-md-6">
                <label for="">Email</label>
                <input
                  type="email"
                  name="email"
                  class="form-control"
                  placeholder="Email*"
                  required
                />
              </div>
              <br />
              <div class="col-md-6">
                <label for="">Password</label>
                <input
                  type="password"
                  name="pwd"
                  id="password"
                  class="form-control"
                  placeholder="Password*"
                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*]).{8,}" 
                  required
                />
              </div>
              <br />
              
              <div class="col-md-6">
                <label for="">Mobile</label>
                <input
                  type="text"
                  name="mobile"
                  class="form-control"
                  placeholder="Mobile*"
                  required
                />
              </div>
              <br/>

              <div class="col-md-6">
                <label>Image</label>
                <div class="custom-file">
                  
                  <input type="file" class="custom-file-input" id="customFile" name="file">
                  <label class="custom-file-label" for="customFile">Choose file *</label>
                </div>
              </div>

              
              <br />
              
            </div>
            <button type="submit" class="lab-btn">
              <span>Signup Now</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $(document).ready(function() {
    $('#myForm').on('submit', function(e) {
      e.preventDefault(); // Prevent default form submission
  
      var formData = new FormData(this);
  
      // Alternatively, you can send the form data to the server using AJAX
      $.ajax({
        url: '/signup/',
        type: 'POST',
        data: formData,
        processData: false,
        contentType: false,
        success: function(response) {
          if(response['status']){
            window.location = '/login/';
          }
          else{
            alert('Email not verified Or user already exists.')
          }
        },
        error: function(xhr, status, error) {
          alert('Email not verified Or user already exists.')
        }
      });
    });
  });
</script>
<script>
  var passwordInput = document.getElementById("password");
  passwordInput.addEventListener("input", function() {
    if (passwordInput.validity.patternMismatch) {
      passwordInput.setCustomValidity("Password must contain at least 8 characters including at least one digit, one lowercase letter, one uppercase letter, and one special character.");
    } 
    else {
      passwordInput.setCustomValidity("");
    }
  });
</script>
{% include 'footer.html' %}
{% endblock %}
